@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Quicksand:100,200,300,400,500,600,700");

/* ---------------------------------------------Colours */

#home-color {
  background-color: #9CBCCF;
  background-image: linear-gradient(#789fbd 0%, #9cbccf 50%, #e7e0da 100%);
}

#about-color {
  background-color: #E7E0DA;
}


/* ---------------------------------------------Header */

header {
  margin: 0 15px 0px;
  height: 100vh;
}

nav {
  margin: 15px;
  height: 10vh;
}

#circle-cover-bg {
  display: block;
  background: url("../images/cartwheel-sq.jpg") no-repeat center center;
  background-size: 110%;
  width: 60%;
  height: 0;
  padding-bottom: 60%;
  border: solid 2px #383a3a;
  border-radius: 50%;
}

#menu-md {
  font-size: 100%;
  list-style-type: none;
  letter-spacing: 4px;
  text-align: right;
}

#menu-md li {
  display: inline;
  margin-right: 30px;
}

#menu-md a {
  font-family: "Quicksand", sans-serif;
  color: #383A3A;  
  text-decoration: none;
}

#menu-md a:hover {
    border-bottom: 1px solid #383A3A;
}

.active {
    border-bottom: 1px solid;
    border-color: inherit;
}

#menu-sm {
    color: #383A3A;
  font-size: 200%;
  text-align: right;
}

#home-text {
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1,
header h2 {
  font-family: "Raleway", sans-serif;
  color: #383a3a;
  text-align: center;
}

.scroll-hint {
  text-align: center;
}

.scroll-hint a {
  color: #434546;
  font-size: 200%;
  text-decoration: none;
}

/* ---------------------------------------------About */

#about-section {
  margin: 0 15px 0px;
  height: 100vh;
}

.section-title {
  height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.section-title h2 {
  margin-bottom: 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #434546;
  
}

.about-text {
  height: 75vh;
  padding-top: 0;
}

/* ---------------------------------------------About animation */

.svg-about > line {
    stroke: #434546; 
    stroke-width: 2;
    stroke-dasharray: 6%;
    stroke-dashoffset: 6%;
    animation: move 1s linear;
    animation-fill-mode: forwards;
}

line.vertical  {
    stroke: red;
    stroke-dasharray: 19%;
    stroke-dashoffset: 19%;
}

.svg-about > circle {
    stroke: #434546; 
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 51%;
    stroke-dashoffset: 51%;
    animation: move 1s linear;
    animation-fill-mode: forwards;
}

 #line-a-sm, #circle-a-sm {
    animation-delay: 0s;
}

#line-b-sm, #circle-b-sm {
    animation-delay: 1s;
}

#line-c-sm, #circle-c-sm {
    animation-delay: 2s;
}

#line-d-sm, #circle-d-sm {
    animation-delay: 3s;
}

#line-e-sm, #circle-e-sm {
    animation-delay: 4s;
}

#line-f-sm {
    animation-delay: 5s;
}

@keyframes move {
    80% {
        fill: #E7E0DA; 
    }
    
    100% {
        stroke-dashoffset: 0;
        fill: #434546;
    }
}

/* ---------------------------------------------Modals */

.modal-top button {
    color: #FCFBFB;
    font-size: 250%;
    margin-right: 5px;
}

.modal-content {
    height: 90vh;
    background-color: #717475;
}

.modal-content ul {
    line-height: 3;
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 4px;
}

.modal-content a {
  font-family: "Quicksand", sans-serif;
  color:#FCFBFB;  
  text-decoration: none;
}

.modal-top img {
    margin: 15px;
    height: 20vh;
    border: solid 2px #E7E0DA;
    border-radius: 50%;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title h3, .modal-title h4 {
    text-align: right;
    color: #FCFBFB;
    font-family: "Raleway", sans-serif;
}

.about-list h5 {
    font-family: "Raleway", sans-serif;
    color: #FCFBFB;
}


.about-list ul {
    font-size: 100%;
    list-style-type: circle;
    letter-spacing: 1px;
    color: #FCFBFB;
    font-family: "Quicksand", sans-serif;
}

